*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* accounts for padding + margin + border in widht & height */
  font-family: 'Comfortaa', cursive;
}

body {
  height: 100vh;
  background-color: white;
  transition: all 1s ease-out;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.coursesForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 31px;
}

.indexForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}



.coursesMain {
  border-right: 2px solid gray;
  display: flex;
  left: 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;;
  justify-content: center;
  width: 20%;
  position: fixed;
  height: 100%;
}



.openbtn {
  visibility: hidden;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  color: darkred;
  position: absolute;
  right: 0px;
  padding: 10px 15px;
  margin: 15px;
  background: none;
  border: none;
}




.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

#links {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.navlinks {
  font-family: 'Poiret One', cursive;
  font-size: 15px;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: black;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 31px;
}

img {
  width: 55px;
  margin: 11px;
}


button:hover {
  color: #783000;
  cursor: pointer;
  animation: pulse 1s infinite;
  border-radius: 20px;
  border-color: #855555;
}


.title {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 75px;
}

#userModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Modal Content */
.modalcontent {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: auto; /* Enable scroll if needed */
  border-radius: 25px;
  margin: auto;
  padding: 50px;
  border: none;
  width: 70%;
  height: 80%;
}

.userModal {
  background-color:white;
}

#close {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  color:white;
  transition: all .3s ease-in-out;
  display: flex;
  align-self: flex-end;
}

#close:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-family:'Roboto Mono', monospace;
  padding-bottom: 20px;
  color: white;
}

h2 {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  margin-bottom: 3px;
  color: rgb(44, 63, 51);
}

h3 {
  font-family: 'Poiret One', cursive;
  font-size: 17px;
  color: rgb(44, 63, 51);
}

h4 {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  margin-bottom: 3px;
  color: rgb(44, 63, 51);
}



.introText {
  margin: 7px;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  text-align:center;
  color: gray;
}

.titleText {
  font-family: 'Poiret One', cursive;
  font-size: 27px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #855555;
  letter-spacing: 5px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:gray;
  height: 1px;
  margin: 21px 0px 21px 0px;
}


.section {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
  margin-bottom: 15px;
  flex-wrap: wrap;
  margin: 31px;
}

.coursesTable {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
  margin-bottom: 15px;
  flex-wrap: wrap;
  margin: 31px;
}

.field {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 0px 5px 0px;
}

.superSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  margin-top: 31px;
}

.vl {
  border-left: 1px solid gray;
}

.bottom {
  width: 100%;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  justify-content:space-between;
}

.paragraph {
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

input[type="text"], input[type="password"], textarea, select { 
  outline: none;
  width: 150px;
}

input[type="radio"] {
  margin-right: 3px;
}

input[type="submit"] {
  transition: all .7s ease-in-out;
  padding: 11px;
  border: none;
  background-color: maroon;
  border-radius: 20px;
  margin: 3px;
  outline:none;
  color:white;
  font-family: 'Roboto Mono', monospace;
}

input[type="submit"]:hover {
  color: white;
  cursor: pointer;
  animation: pulse 1s infinite;
  border-radius: 20px;
}

.coursesTitle {
  margin-right: 15px;
}

.return {
  margin: 20px; 
  font-size: 11px; 
  color: gray;
  transition: all .7s ease-in-out;
}

.return:hover {
  letter-spacing: 3px;;
}

.inp {
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  font-size: 13px;
  text-align: left;
}

button {
  transition: all .7s ease-in-out;
  padding: 11px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 20px;
  margin: 15px;
  outline:none;
  font-family: 'Roboto Mono', monospace;
}
table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid maroon;
  text-align: left;
  margin: 15px;
}
td {
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ebe9e9;
}

/* Tooltip container */
.tooltip {
  position: relative;
  font-size: 13px; 
  margin: 5px; 
  width:20%;
  color: gray;
  transition: all 1s ease-out;
  cursor: help;
  z-index: 100;
}

.tooltip:hover {
  animation: pulse 1s infinite;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: maroon;
  color: #fff;
  text-align: left;
  padding: 7px;
  border-radius: 6px;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
}

.tooltiptext {
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* responsive - for mobile */
@media screen and (max-width: 500px) {
  html, body {
    margin: 0;
    padding: 0;
  }

  .courses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
  }
  .coursesMain {
    width: 100vw;
    height: 30vh;
    margin: 11px;
    position: relative;
    flex-wrap: nowrap;
    border: none;
  }

  .coursesTitle {
    text-align: center;
    margin: 0 auto;
    font-size: 19px;
  }
  .return {
    text-align: center;
    margin: 0 auto;
  }

  .coursesForm {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .coursesTable {
    width: 100vw;
    margin: 0;
  }


  .superSection {
    flex-direction:column;
    justify-content: flex-start;
    width: 100%;
    min-height: 600px;
  }
  .section {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 31px 0px;
  }
  .field {
    flex-direction: column;
  }
  h1 {
    font-size: 17px;
    text-align: center;
  }
  h3 {
    font-size: 13px;
    text-align: center;
  }
  .modalcontent {
    width: 80%;
    align-items: center;
  }
  h2 {
    font-size: 13px;
  }
  p {
    font-size: 11px;
  }
  .inp {
    width: 70%;
  }



}



/* responsive - for tablet */
@media screen and (min-width: 501px) and (max-width: 1050px) {
  .superSection {
    flex-direction:column;
    justify-content: center;
  }
  .section {
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 31px 0px;
  }
  .field {
    flex-direction: column;
  }
  button {
    align-self: center;
  }
  h1 {
    font-size: 17px;
    text-align: center;
  }
  .inp {
    width: 70%;
  }
  h3 {
    font-size: 13px;
    text-align: center;
  }
  .modalcontent {
    width: 90%;
    align-items: center;
  }
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 11px;
  }
}

/* responsive - for desktop */
@media screen and (min-width: 1051px) {
  
}

@keyframes pulse {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}