<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <title>pocketAdvisor</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body>
    
<div class="main">
    <div class="title animated flipInY">
        <img src="logo.svg"/>
        <div class="introText">[ welcome to ]</div>
        <div class="titleText">pocket advisor</div>
        <div class="introText" style="font-size: 11px">the degree audit you always wish you had</div>
    </div>

    <div class = "options">
    <div class="top animated fadeInLeft delay-1s"> 
        <button id="userAccess" onclick="dropModal('userModal')">User Access</button> 
    </div>
    <div class="top animated fadeInRight delay-1s"> 
            <a href="/courses"><button>Guest Access</button> </a>
        </div>
    </div>
</div>

    <div id = "userModal">
        <div class = "modalcontent userModal animated bounceInDown">
            <span id ="close" style="color:#800000;">✘</span>
            <h1 class ="animated jello" style="color:#800000;">[ user access]</h1>
            <h3 class ="animated jello" style="color:#855555;">Hello! User access is for those who wish to save their advising data. If you are returning, sign on in! Otherwise, create an account!</h3>
            <div class = "superSection">
            <div class = "section">
                <h2 style="width: 100%; text-align: left;">[returning user]</h2><br>
                <p style="font-family: 'Poiret One', cursive; color:gray; margin-bottom: 15px;">Welcome back! It's good to see you again. Sign in below!</p>
                <div class="field">
                    <p style="color:#855555;">username:</p>
                    <input type="text" name="username">
                </div>
                <div class="field">
                    <p style="color:#855555;">password:</p>
                    <input type="password" name="password">
                </div>
                <button style="margin-top: 31px; background-color:maroon; color:white;">sign in</button>
            </div>
            <div class="vl"></div>
            <div class = "section">
                <h2 style="width: 100%; text-align: left;">[new user]</h2><br>
                <p style="font-family: 'Poiret One', cursive; color:gray; margin-bottom: 15px;">New to pocketAdvisor? Create a free account below!</p>
                <div class="field">
                    <p style="color:#855555;">name:</p>
                    <input type="text" name="name">
                </div>
                <div class="field">
                    <p style="color:#855555;">email:</p>
                    <input type="text" name="email">
                </div>
                <div class="field">
                    <p style="color:#855555;">major:</p>
                    <div class="inp">
                        <input type="radio" name="major" value="CS"> <p style="margin-right:7px;">CS</p>
                        <input type="radio" name="major" value="CE"> <p style="margin-right:7px;">CE</p>
                        <input type="radio" name="major" value="other"> <p>other</p>
                    </div>
                </div>
                <div class="field">
                    <p style="color:#855555;">minor:</p>
                    <div class="inp">
                        <input type="radio" name="minor" value="CS"> <p style="margin-right:7px;">CS</p>
                        <input type="radio" name="minor" value="CE"> <p style="margin-right:7px;">CE</p>
                        <input type="radio" name="minor" value="math"> <p style="margin-right:7px;">math</p>
                        <input type="radio" name="minor" value="other"> <p>other</p>
                    </div>
                </div>
                <div class="field">
                    <p style="color:#855555;">username:</p>
                    <input type="text" name="username">
                </div>
                <div class="field">
                    <p style="color:#855555;">password:</p>
                    <input type="password" name="password">
                </div>
                <button style="margin-top: 31px; background-color:maroon; color:white;">register</button>
            </div>
            
         </div>
        </div>
    </div>
</div>

</div>



<script>

//responsive mobile homepage view
var x = window.matchMedia("(max-width: 500px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction) // Attach listener function on state changes

function myFunction(x) {
    var modalcontent = document.getElementsByClassName("modalcontent");
    var superSection = document.getElementsByClassName("superSection");
    var section = document.getElementsByClassName("section");
    var inp = document.getElementsByClassName("inp");
    var field = document.getElementsByClassName("field");
    var h1 = document.getElementsByTagName("h1");
    var h2 = document.getElementsByTagName("h2");
    var h3 = document.getElementsByTagName("h3");
    var p = document.getElementsByTagName("p");
    if (x.matches) { // If media query matches
        var i;
        for (i = 0; i < modalcontent.length; i++) {
            modalcontent[i].style.width = "80%";
            modalcontent[i].style.alignItems = "center";
        }
        for (i = 0; i < superSection.length; i++) {
            superSection[i].style.flexDirection = "column";
            superSection[i].style.justifyContent = "center";
            superSection[i].style.width = "100%";
        }
        for (i = 0; i < section.length; i++) {
            section[i].style.flexDirection = "column";
            section[i].style.justifyContent = "center";
            section[i].style.alignSelf = "center";
            section[i].style.width = "100%";
            section[i].style.margin = "0px 0px 31px 0px";
            section[i].style.flexWrap = "nowrap";
        }
        for (i = 0; i < field.length; i++) {
            field[i].style.flexDirection = "column";
        }
        for (i = 0; i < inp.length; i++) {
            inp[i].style.width = "70%";
        }
        for (i = 0; i < modalcontent.length; i++) {
            modalcontent[i].style.width = "column";
            modalcontent[i].style.alignItems = "center";
        }
        for (i = 0; i < h1.length; i++) {
            h1[i].style.fontSize = "17px";
            h1[i].style.textAlign = "center";
        }
        for (i = 0; i < h2.length; i++) {
            h2[i].style.fontSize = "13px";
        }
        for (i = 0; i < h3.length; i++) {
            h3[i].style.fontSize = "13px";
            h3[i].style.textAlign = "center";
        }
        for (i = 0; i < p.length; i++) {
            p[i].style.fontSize = "11px";
        }
    }

    else {
        var i;
        for (i = 0; i < modalcontent.length; i++) {
            modalcontent[i].style.width = "90%";
        }
        for (i = 0; i < superSection.length; i++) {
            superSection[i].style.flexDirection = "row";
            superSection[i].style.justifyContent = "flex-start";
            superSection[i].style.width = "80%";
        }
        for (i = 0; i < section.length; i++) {
            section[i].style.justifyContent = "flex-start";
            section[i].style.flexDirection = "row";
            section[i].style.flexWrap = "wrap";
            section[i].style.width = "50%";
            section[i].style.margin = "31px 31px 15px 31px";
        }
        for (i = 0; i < field.length; i++) {
            field[i].style.flexDirection = "row";
        }
        for (i = 0; i < inp.length; i++) {
            inp[i].style.width = "150px";
        }
        for (i = 0; i < modalcontent.length; i++) {
            modalcontent[i].style.width = "70%";
        }
        for (i = 0; i < h1.length; i++) {
            h1[i].style.fontSize = "17px";
            h1[i].style.textAlign = "center";
        }
        for (i = 0; i < h2.length; i++) {
            h2[i].style.fontSize = "17px";
        }
        for (i = 0; i < h3.length; i++) {
            h3[i].style.fontSize = "17px";
        }
        for (i = 0; i < p.length; i++) {
            p[i].style.fontSize = "13px";
        }
    }
}




    //********* BUILDING MODALS JAVASCRIPT FUNCTIONALITY! ***********//



//gets all the close buttons
var exit = document.getElementById("close");

//function to make building modals appear when clicked; takes specified modal & building svg
function dropModal(modal) {
    //series of if statements to change body bg color depending on modal selected
        bgColor("#c2acac");

    //display modal & enlarge specified building svg
    document.getElementById(modal).style.display = "block";


    
        //following function restores bg color to white, shows building links, hides modal, & scales building svg back down
        exit.onclick = function() {
            bgColor("white");
            document.getElementById(modal).style.display = "none";
        }
    }


function bgColor(color) {
    document.body.style.backgroundColor = color;
}




//toggle duty and desk info
function show(item) {
    var reveal = document.getElementById(item);
    if (reveal.style.display === "block") {
        reveal.style.display = "none";
    }
    else {
        reveal.style.display = "block";
    }
}
    
    </script>
</body>
</html>
